* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: Calibri;
  src: url("../fonts/Calibri.ttf"); }

@font-face {
  font-family: Cambria;
  src: url(../fonts/Cambria.ttf); }

@font-face {
  font-family: RBNo2Light, sans-serif;
  src: url(../fonts/RBNo2Light.otf); }

@font-face {
  font-family: TrajanPro, sans-serif;
  src: url(../fonts/TrajanPro.ttf); }

.simply {
  background-image: url(../img/simply-bg.png);
  width: 100%;
  -webkit-background-size: cover !important;
          background-size: cover !important;
  background-position: 50% 50% !important;
  background-repeat: no-repeat !important;
  padding: 20px 0 140px 0; }

.menu {
  display: inline-block;
  padding: 10px 30px 0 0;
  font-size: 24px;
  font-family: RBNo2Light; }
  @media only screen and (max-width: 770px) {
    .menu {
      display: block; } }
  .menu a {
    color: #0a0a0a; }

@media only screen and (max-width: 991px) {
  .menu img {
    display: none; } }

.circle {
  position: relative;
  bottom: 12px;
  width: 7px;
  height: 7px;
  background: #0a0a0a;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  display: inline-block; }

.simpl-text1 {
  font-family: TrajanPro;
  font-size: 54px; }
  @media only screen and (max-width: 400px) {
    .simpl-text1 {
      display: none; } }

.simpl-text2 {
  font-family: TrajanPro;
  font-weight: 24px;
  letter-spacing: 20px; }
  @media only screen and (max-width: 400px) {
    .simpl-text2 {
      display: none; } }

.simpl-line {
  position: relative;
  left: 370px;
  width: 365px;
  height: 1px;
  background: #0a0a0a; }
  @media only screen and (max-width: 1200px) {
    .simpl-line {
      left: 280px; } }
  @media only screen and (max-width: 991px) {
    .simpl-line {
      left: 160px; } }
  @media only screen and (max-width: 770px) {
    .simpl-line {
      display: none; } }

.simpl-under-text {
  padding: 70px 60px 0 60px;
  font-family: Calibri;
  font-size: 14px;
  color: #010101; }

.block {
  padding-bottom: 50px; }

.content {
  padding-top: 70px; }
  .content img {
    max-width: 100%; }

@media only screen and (min-width: 576px) and (max-width: 1199px) {
  .content-line {
    max-width: 300px;
    width: 100%;
    height: 1px;
    background: #808080;
    margin: 5px 5px 0 0; } }

.caption {
  font-family: Calibri;
  font-size: 16px;
  margin-top: 36px;
  text-align: left;
  padding-bottom: 30px; }
  @media only screen and (max-width: 575px) {
    .caption {
      text-align: center; } }

@media only screen and (max-width: 575px) {
  .all-text {
    text-align: center !important; } }

.text-block {
  font-family: Calibri;
  font-size: 14px;
  text-align: left; }

.last-text-block {
  font-family: Cambria;
  font-size: 12px;
  text-align: center;
  padding-top: 45px; }

.last-text-block2 {
  font-family: Cambria;
  font-size: 12px;
  text-align: center;
  padding-top: 82px; }
  @media only screen and (max-width: 991px) {
    .last-text-block2 {
      padding-top: 105px; } }
  @media only screen and (max-width: 767px) {
    .last-text-block2 {
      padding-top: 60px; } }

.last-text-block3 {
  font-family: Cambria;
  font-size: 12px;
  text-align: center;
  padding-top: 96px; }
  @media only screen and (max-width: 991px) {
    .last-text-block3 {
      padding-top: 120px; } }
  @media only screen and (max-width: 767px) {
    .last-text-block3 {
      padding-top: 98px; } }

@media only screen and (min-width: 1200px) {
  .indentation {
    padding-left: 24px;
    padding-right: 24px; } }

.inline-brackets {
  display: inline-block !important; }

.brackets-text {
  max-width: 500px;
  vertical-align: middle;
  font-family: TrajanPro;
  font-size: 12px; }
  @media only screen and (max-width: 767px) {
    .brackets-text {
      max-width: 300px; } }

.brackets {
  padding-top: 70px;
  padding-bottom: 85px; }

@media only screen and (max-width: 400px) {
  .brackets1 img {
    display: none; } }

@media only screen and (max-width: 400px) {
  .brackets2 img {
    display: none; } }

.content2-text1, .content2-text2 {
  display: inline-block !important; }

.content2-text1 {
  max-width: 620px;
  text-align: left;
  padding-right: 40px; }
  @media only screen and (max-width: 991px) {
    .content2-text1 {
      padding-right: 0; } }

.head {
  font-family: Calibri;
  font-size: 16px; }
  @media only screen and (min-width: 1200px) {
    .head {
      padding-left: 24px; } }

.head2 {
  font-family: Calibri;
  font-size: 16px; }

.body {
  font-family: Calibri;
  font-size: 14px; }
  @media only screen and (min-width: 1200px) {
    .body {
      padding-left: 24px; } }

.body2 {
  font-family: Calibri;
  font-size: 14px; }

.content2-text2 {
  max-width: 300px;
  vertical-align: top;
  padding-left: 30px;
  text-align: left; }
  @media only screen and (max-width: 991px) {
    .content2-text2 {
      padding-left: 0; } }

@media only screen and (max-width: 575px) {
  .all-content-text {
    text-align: center !important; } }

.hr-line {
  margin-top: 80px; }

.footer2 {
  text-align: right; }
